* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    /* padding-top: 10px; */
    text-align: center;
}

.address {
    text-align: center;
    color: blue;
}

/* .upper {
    line-height: 40px;
} */

.frst {
    border: 1px solid black;
    text-align: center;
    background-color: lightgrey;
    color: darkblue;
    font-weight: 600;
    padding: 5px 10px; 
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ad {
    background-color: white;
    color: rgba(64,146,204,255);
}
.main{
  border: 4px double black;
  margin: 10px 20px;
}
#invoiceno{
  margin-left: 10px;
  width: 120px;
}

.title {
  text-decoration: underline;
  font-weight: 700;
 
  border-right: none;
  font-size: 20px;
  color: darkblue !important;
  
}


.table-responsive{
  width: 100%;
  padding: 10px;
  
}
#floatingInputGrid{
  width: 40%;
  margin-left: 20px;
}
input{
  border: none !important;
  outline: none !important;
}
.table tr td {
  border: 2px solid black !important;
  color: rgba(64,146,204,255);
  font-weight: 500;

}
#placeofsupply{
  width: 250px;
}
.words{
  text-indent: 60px;
  text-transform: capitalize;
  line-height: 32px;
}
.head td{
  background-color: rgba(128, 128, 128, 0.589) !important;
  padding: 10px !important;
  color: black !important;
  text-align: center;
  color: darkblue !important;
  font-weight: 800;
  font-size: 18px;
}
.date input{
  width: 140px;
}


.border{
  border-top: none;
}
.right{
  text-align: right;
}
.table-bordered .border {
  border-left: none; 
}
.table-bordered .borders {
  border-bottom: none; 
}
.bankdetail pre{
  color: rgba(0, 0, 139, 0.874);
  text-align: justify;
  margin-top: 20px;
  font-size: 20px;
  line-height: 20px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: justify; */
}

/* Remove border from the bottom of the .borders tr */
tr.borders {
  border-bottom: none !important;
}

/* Remove border from the top of the .no-border tr */
tr.no-border {
  border-top: none !important;
}

.hidden {
  border: none;
}
.center-cell {
  text-align: center !important;
}
/* .form-control {
  text-align: center;
} */
.right{
  text-align:end;
}
@media print {
  body {
      -webkit-print-color-adjust: exact;
      font-size: 13px;
  }
  .container-fluid {
      padding: 0;
      margin: 0;
      width: 100% !important;
  }
  .main {
      padding: 10px;
      font-size: 13px;
  }
  .btn {
      display: none !important;
  }
  .upper h1 {
      font-size: 13px;
  }
  .upper .address {
      font-size: 13px;
  }
  .box .frst, .box .frst.ad {
      font-size: 13px;
  }
  .table-responsive {
      font-size: 13px;
      width: 100%;
  }
  .frsttable td, .frsttable input {
      padding: 2px;
      font-size: 13px;
  }
  .header-row {
      height: 40px;
  }
  .header-row label, .header-row strong, .header-row input {
      font-size: 13px;
  }
  .second input {
      font-size: 13px;
  }
  .head {
      font-size: 13px;
  }
  .no-top-border input {
      font-size: 13px;
  }
  h5 {
      font-size: 13px;
      margin: 0;
  }
  .bankdetail pre {
      font-size: 13px;
      line-height: 13px;
  }
  .bankdetail h4 {
      font-size: 13px;
  }
  input {
      font-size: 13px;
  }
  .date input {
      width: 100px;
  }
  .words {
      font-size: 13px;
  }
  @page {
      margin: 0;
  }
  #placeofsupply{
    width: 200px;
  }
}



